<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="layout :: body">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar Moto</title>
</head>
<body>
<h1>Cadastrar Nova Moto</h1>

<form th:action="@{/motos}" method="post" th:object="${moto}">
    <label for="placa">Placa:</label>
    <input type="text" id="placa" th:field="*{placa}" required><br>

    <label for="modelo">Modelo:</label>
    <input type="text" id="modelo" th:field="*{modelo}" required><br>

    <label for="setor">Setor:</label>
    <select id="setor" th:field="*{setor.id}">
        <option th:each="s : ${setores}"
                th:value="${s.id}"
                th:text="${s.nome}">
        </option>
    </select><br>

    <button type="submit">Salvar</button>
</form>

</body>
</html>
